<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>776245189688-n0kocpfpcr4rjna48oco2rnhfj011i13.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.776245189688-n0kocpfpcr4rjna48oco2rnhfj011i13</string>
	<key>API_KEY</key>
	<string>AIzaSyARvYTEWdaWaekq8nXp7d_1bixZtBkW_v0</string>
	<key>GCM_SENDER_ID</key>
	<string>776245189688</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dongkyoo.ToYou-iOS</string>
	<key>PROJECT_ID</key>
	<string>toyou-21e05</string>
	<key>STORAGE_BUCKET</key>
	<string>toyou-21e05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:776245189688:ios:6030663aa704e69f475acd</string>
	<key>DATABASE_URL</key>
	<string>https://toyou-21e05.firebaseio.com</string>
</dict>
</plist>